* {
    padding:0px;
    margin:0px;
}

body {
	width:1280px;
	height:1490px;
	margin: 0 auto;
}

nav, header, footer, main, aside, section, article{
    display:block;
    border: 1px solid black;
}

header{
    height:62px;
}

#logo{
    /*width: 270px;
    height: 150px; 
    font:bold 40px Arial; 
    text-decoration:none;
    display:block;
    color:#000000;
    padding:15px 100px;
    background: url(../images/logo.png) no-repeat left top;*/
}

nav{
    height:38px;
}

nav a{
   /* font:normal 14px Georgia;
    text-decoration:none;
    position:inline;
    color:#708090; */
}


article{
    padding:0px;
    height:1298px;
}

article section{
    margin:0;
    border:none;
    color:#FFFFFF;
}


footer{
    height:92px;
}
